@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace; /* Hacker havası için */
  background-color: #000;
  color: #fff;
}

/* Scrollbar Gizleme (Ama kaydırma çalışır) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
